@partLayoutPageImageDir: "@{basePartImageDir}layout-page/";

body.layout-page{
	#header{
		border-bottom: 1px solid #d7d7d7;
		
		.container{
			height: 108px;
		}
	}
	.site-logo{
		position: absolute;
		left: -63px;
		top: 40px;
		margin: 0;
		display: inline-block;
		width: 273px;
		
		
		a{
			display: block;
			height: 134px;
			padding: 20px 0;
			background: url("@{partLayoutPageImageDir}site-logo.png") no-repeat 50% 50%;
		}
	}
	.lnb{
		position: absolute;
		right: 25px;
		top: 80px;
		text-align: right;
		
		>ul{
			overflow: hidden;
			display: inline-block;
			width: 837px;
			
			>li{
				float: left;
				width: 25%;
				margin-right: -1px;
				position: relative;
				
				&:last-child{
					margin-right: 0;
				}
				>a{
					display: block;
					text-align: center;
					border: 1px solid #d7d7d7;
					background-color: #fff;
					padding: 0 12px;
					height: 60px;
					font-size: 20px;
					font-weight: bold;
					line-height: 58px;
					letter-spacing: -1px;
					color: #8e8e8e;
					-webkit-transition: color ease-in-out .12s;
					-moz-transition: color ease-in-out .12s;
					-ms-transition: color ease-in-out .12s;
					-o-transition: color ease-in-out .12s;
					transition: color ease-in-out .12s;
					
					&:hover, &:focus{
						border-color: #999;
						color: #333;
					}
				}
				&:hover{
					z-index: 10;
				}
				&.active{
					z-index: 10;
					
					>a{
						background-color: #df405c;
						border-color: #df405c;
						color: #fff;
					}
				}
			}
		}
	}
	#container{
		padding-top: 204px;
		
		>div{
			overflow: hidden;
		}
	}
	.page-title{
		margin: 133px 0 50px;
		background: url("@{partLayoutPageImageDir}page-title.png") no-repeat 50% 0;
		padding-top: 82px;
		text-align: center;
		font-size: 50px;
		font-weight: bold;
		line-height: 1.4em;
		color: #363636;
	}
	#footer{
		display: block;
	}
}
