@partPagesImageDir: "@{basePartImageDir}pages/";

body.page-introduce{
	#container{
		>div{
			height: 3870px;
			background: url("@{partPagesImageDir}page-introduce.jpg?20161020") no-repeat 50% 0;
		}
	}
}
body.page-program{
	#container{
		>div{
			background: url("@{partPagesImageDir}page-program.png") no-repeat 50% 0;
			
			.page-title{
				margin-bottom: 650px;
			}
			.eq-0{
				height: 2614px;
				background: url("@{partPagesImageDir}page-program-2.jpg") no-repeat 50% 0;
			}
			.eq-1{
				height: 3079px;
				background: url("@{partPagesImageDir}page-program-3.jpg") no-repeat 50% 0;
			}
		}
	}
}
body.page-guide{
	#container{
		>div{
			height: 1824px;
			background: url("@{partPagesImageDir}page-guide.jpg?20161020") no-repeat 50% 0;
		}
	}
}
