@partPagesImageDir: "@{basePartImageDir}pages/";

body.page-introduce{
	#container{
		>div{
			height: 3870px;
			background: url("@{partPagesImageDir}page-introduce.jpg?20161020") no-repeat 50% 0;
		}
	}
}
body.page-program{
	#container{
		>div{
			position: relative;
			height: 4918px;
			background: url("@{partPagesImageDir}page-program.jpg?201610262") no-repeat 50% 0;
			
			a{
				position: absolute;
				top: 1937px;
				left: 50%;
				margin-left: -206px;
				display: inline-block;
				width: 413px;
				height: 83px;
				background: url("@{partPagesImageDir}page-program-2.png?201610262") no-repeat 50% 50%;
			}
		}
	}
}
body.page-guide{
	#container{
		>div{
			height: 1824px;
			background: url("@{partPagesImageDir}page-guide.jpg?20161020") no-repeat 50% 0;
		}
	}
}
